@import "tailwindcss";

@theme {
  /* Colors from bruno-groening.org */
  --color-primary: #39ADFF; 
  --color-primary-dark: #0180D6;

  --color-surface-main-light: #FFFFFF;
  --color-surface-main-dark: #121212;

  --color-surface-secondary-light: #EEEEEE;
  --color-surface-secondary-dark: #272727;
}